<!DOCTYPE html>

<head>
    <title>Giulliano Morroni</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="{{ STATICFILES_DIRS }}/static/imagens/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="title" content="Giulliano Morroni" />
    <meta name="description" content="Giulliano Morroni" />
    <meta content="pt" http-equiv="Content-Language" />
    <meta content="0" http-equiv="Expires" />
    <meta content="no-cache, must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta name="revisit-after" content="3 days" />
    <meta name="author" content="Giulliano Morroni" />
    <meta name="language" content="portuguese" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="geo.country" content="Brasil" />
    <meta name="dc.language" content="pt_BR" />
</head>

<html>
  <body>
      <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34913594-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	

    <div id="divPrincipal" style="border:0px solid #000000; margin-left: -440px; margin-top: -360px; width: 900px; height:680px; left:50%; top:50%; position: absolute;">
		<img src="/static/imagens/img/nome.png" style="height: 80px; width: 800px;"/>
      	<div id="divCentral" style="border:1px solid #000000; margin: 5px 10px 0px 3px; width:500px; height:500px; position: absolute;absolute;border-radius: 25px;">
        	<br/>
			{% for artigo in artigos %}
				<p style="font:18px arial, sans-serif; position:relative; padding-left: 20px;">
					<a href="../artigo/{{ artigo.url }}" >{{ artigo.titulo }}</a>
				</p>
			{% endfor %}
		<div style="position: relative; margin: 20px 0px 0px 170px;" >
	    	<span class="step-links">
            	<a href="?p={{ contacts.previous_page_number }}">anterior</a>
		        <span class="current">
		            {{ artigos.number }} de {{ artigos.paginator.num_pages }}
		        </span>
	            <a href="?p={{ artigos.next_page_number }}">próxima</a>
		    </span>
		</div>
      	</div>

            
		<div id="divLateralDireitaSuperior" style="border:1px solid #000000; margin: 5px 0px 0px 580px; width:220px; height:250px; position: absolute;absolute;border-radius: 25px;  ">
			<br/>
			{% for topico in topicos %}
			<span style="font:14px arial, sans-serif; padding: 5px 0px 0px 10px;">
				<a href="topico/{{topico.url}}">{{ topico.titulo }}</a> <br>
			</span>
			{% endfor %}
  		</div>
  		<div id="divLateralDireitaInferior" style="border:1px solid #000000; margin: 300px 0px 0px 580px; width:200px; height:200px; position: relative;absolute;border-radius: 25px; ">
			<br/>
			{% for noticia in noticias %}
				<span style="font:14px arial, sans-serif; padding: 5px 0px 0px 10px;">
					<a href="{{noticia.url}}" target="_blank">{{ noticia.titulo }}</a> <br>
				</span>
			{% endfor %}
		</div>

		<div id="imgs" style="position: relative; margin:70px 0px 0px 40px; width: 900px;">
		  <a href="http://facebook.com/giullianomorroni" target="_blank">
			<img src="/static/imagens/img/facebook.png" style="margin-left: 50px; "/>
		  </a>

		  <a href="http://br.linkedin.com/pub/giulliano-morroni/17/698/125" target="_blank">
			<img src="/static/imagens/img/linkedin.png" style="margin-left: 50px; "/> 
		  </a>

		  <a href="https://pt.foursquare.com/user/20369491" target="_blank"> 
			<img src="/static/imagens/img/foursquare.jpg" style="margin-left: 50px; "/> 
		  </a>
		  
		  <a href="https://github.com/giullianomorroni" target="_blank"> 
			<img src="/static/imagens/img/github.jpg" style="margin-left: 50px; "/>
		  </a>
	
		  <a href="http://www.guj.com.br/posts/listByUser/16519.java" target="_blank"> 
			<img src="/static/imagens/img/guj.jpg" style="margin-left: 50px; "/> 
		  </a>
		</div>

    </div>

  </body>
</html>